build/
dist/
*.pyc
observations/
tinney_script/
reduced_data/
veloce_luminosa_reduction/literature_data/
raw_data/
*.egg-info/
.DS_Store
.egg-info
lsf_matrix_lsf_korg_veloce.jld2
__pycache__/
.ipynb_checkpoints/
