build/
dist/
*.pyc
observations/
tinney_script/
reduced_data/
veloce_luminosa_reduction/literature_data/
raw_data/
*.egg-info/
.DS_Store
.egg-info
__pycache__/
*.bib
*.vald
*.jld2
korg_flux_sun_arcturus_61cyga_hd22879_18sco_R80000_3590_0.01_9510AA.fits
.ipynb_checkpoints/
