include LICENSE
include README.md
recursive-include observations/001122 *.log
include scripts/VeloceReduction_tutorial.ipynb
recursive-include velocereduction *.txt *.fits *.ipynb
include velocereduction/veloce_reference_data/Veloce_alfCenA.png
include velocereduction/veloce_reference_data/Veloce_HD140283.png
include velocereduction/veloce_reference_data/veloce_reduction_ccd_1_order_143.png